/*
// 451/7981
// 413/7420
// 
// 
*/
/* font: font-style font-variant font-weight font-size/line-height font-family;*/

/* Reset.css 46/1042
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: relative;
}

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/*html, body { height: 100%; }*/

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

a         { color: #2F9EEF; text-decoration: none; }
a:hover   { color: #2F9EEF; text-decoration: underline; }
a:visited { color: #2F9EEF; }

p { text-align: justify; }
p:empty { display: none; }

em { font-style: italic; }
img { max-width: 100%; }
li ol,li ul { margin-bottom: 0; }
/*picture { display: block; }*/
strong, b { font-weight: bold; }
sub { vertical-align: sub; }
/*sup { vertical-align: super; }*/
time { text-align: center; }
tt, code, kbd, samp { font-family: monospace; }
ul { list-style: disc; }
ul,ol { padding-left: 1.4em; }

small, sub, sup {
  /*font-size: 75%;*/
  line-height: 0;
  position: relative;
}

article {
  margin-left: auto;
  margin-right: auto;
  max-width: 704px;
}

/* Fonts 23/404
/* ------------------------------------------------------ */

@font-face {
  font-family: 'cheltenham';
  src: url('nyt-cheltenham-medium.ttf');
}

/* Table of Contents
/* ------------------------------------------------------ */


/* Site Header 38/695
/* ------------------------------------------------------ */

body {
  /*background-color: #fff;*/
  background-color: #fcfcfc;
  font: 400 16px/1.5 'Georgia', Helvetica, 'Droid Sans', Arial, sans-serif;
  padding: 12px;
}

.site-header {
  margin: auto;
  max-width: 704px; /*### IMP CHANGE Prev: 800*/
}

.site-nav {
  border-bottom: 1px solid #d0d2d4;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 6px;
}

.site-nav a:link,
.site-nav a:visited,
.site-nav a:hover,
.site-nav a:active {
  /*letter-spacing: -0.4px;*/
  font: 24px 'cheltenham';
  /*font-weight: bold;*/
  text-align: center;
  color: #333;
}

.nav li {
  display: inline-block;
  margin-left: 20px;
}

/* Post styles */
/* ----------------------------------------------------------*/

/*.post-header { margin: 10px 0 30px; }*/

.post-header h1 {
  font-size: 36px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
  text-align: center;
}

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
  text-align: center;
}

.page {
  padding-top: 8px;
  padding-bottom: 24px;
  overflow: hidden;
}

/*.page ul {
  list-style-type: disc;
}*/

#pubs {
  list-style: outside;
}

#paper {
  margin: 8px 0;
}

.page h2 {
  font-size: 32px;
}

.page h3 {
  font-size: 26px;
}

.page blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  font-style: italic;
  margin: 30px 0;
}

/* Footnotes 19/299
/* ----------------------------------------------------------*/

.footnote, .footnote:visited {
  padding: .15em;
  text-decoration: none;
  /*font-size: 1.2em;*/
}

.footnote:hover, .footnote:visited:hover {
  text-decoration: underline;
}

.footnote:before {
   content: "[";
}

.footnote:after {
   content: "]";
}

.footnotes {
  /*font: .8rem/1.3125;*/
  font-size: .8rem;
  line-height: 1.3125;
  color: #888;
}

.footnotes :last-child {
  margin-bottom: 0;
}

/* media queries */
/* ----------------------------------------------------------*/

@media (max-width: 816px) {
  .site-title,
  .site-title:hover,
  .site-title:visited {
    font-size: 18px;
  }

  .post-header h1 { font-size: 36px; }
  .page h2 { font-size: 28px; }
  .page h3 { font-size: 22px; }
  .page blockquote { padding-left: 10px; }
}

.post-header > h1,
.page > h1,
.page > h2,
.page > h3,
.page > ul,
.page > ol,
.page > figure,
.page > figure > figcaption,
.page > pre,
.page > p,
.page > blockquote,
.page > .footnotes {
  /*margin-left: auto;
  margin-right: auto;*/
  /*width: 648px;*/
  /*width: 704px; ### IMP CHANGE Prev: 800*/
  box-sizing: border-box;
}

.page {
  font: 18px/28px -apple-system, system-ui, BlinkMacSystemFont, "Roboto", sans-serif;
}

.page ul,
.page ol,
.page .footnotes, {
  color: rgba(0, 0, 0, 0.8);
  font: 18px/28px -apple-system, system-ui, BlinkMacSystemFont, "Roboto", sans-serif;
}

.page h1 {
  font: 400 50px/1.1em 'cheltenham', Georgia, serif;
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
}

.page h2 {
  font: 500 30px/1.45em 'cheltenham', Georgia, serif;;
  margin-bottom: 24px;
  -webkit-font-smoothing: antialiased;
}

.page h3 {
  font: italic 400 26px/1.4em 'cheltenham', serif;
  margin-top: 36px;
  margin-bottom: 18px;
}

.page p {
  margin-bottom: 24px;
  /*-webkit-hyphens: auto;*/
  /*hyphens: auto;*/
}

.page hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 40px 0;
  width: 200%;
  position: relative;
  left: -50%;
}

.page span.equation-mimic {
  font: italic 110% Georgia;
}

/* Note: changed form 648 to 800*/
@media (max-width: 816px) {
  .post-header h1 { font-size: 44px; }
  .page h2 { font-size: 28px; }
  .page h3 { font-size: 22px; }
  .page blockquote { padding-left: 10px; }

  .post-header > h1,
  .page > h2,
  .page > h3,
  .page > ul,
  .page > ol,
  .page > figure,
  .page > pre,
  .page > p,
  .page > blockquote,
  .page > .footnotes {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
  }
}

.page blockquote {
  border-left: 4px solid #e8e8e8;
  /*padding-left: 20px;*/
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  /*margin: 30px 0;*/
  padding-left: 10px;
  /*text-align: right;*/
}

/* Archive 17/259
/* ------------------------------------------------------ */

ul#archive {
  list-style: none;
  padding-left: 0;
}

ul#archive li span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
}

ul#archive li {
  margin-bottom: 20px;
}

ul#archive li a {
  font: 24px 'cheltenham', Georgia, serif;
}

/* ????
/* ------------------------------------------------------ */

.page p a {
  color: #2F9EEF;
  text-decoration: none;
}

.page p a:hover {
  color: #2F9EEF;
  text-decoration: underline;
}

/* Figure/Figcaption 17/316
/* ----------------------------------------------------------*/

.figimg {
  margin: 48px auto;
  position: relative;
}

.figimg img, 
.figimg figcaption {
  display: block;
  margin: .7rem auto;
  max-width: 100%;
}

.figimg figcaption {
  font: 12px/18px -apple-system, system-ui, BlinkMacSystemFont, "Roboto", sans-serif;
  color: rgb(146, 149, 152);
  /*text-align: center;*/
}

/* ???
/* ----------------------------------------------------------*/

.page p {
  font-family: 'Georgia';
  font-size: 20px;
}

.page .katex-display {
  /*max-width: 150%;*/
  /*overflow: scroll;*/
  overflow-x: auto;
  overflow-y: hidden;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

.katex-display::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.katex-display::-webkit-scrollbar-corner {
  background: 0;
}

.katex-display::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.26);
}

.footnotes p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Roboto", sans-serif;
  font-size: 14px;
}
