/* Fonts and defaults*/
@font-face {
  font-family: 'cheltenham';
  src: url('cheltenham.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'tiempo';
  src: url('tiempo.woff2') format('woff2');
}

:root {
  --site-width: 768px;
  --border-color: #d0d0d0;
  /*--site-color: #f9f9f9;*/
  --site-color: #eceff3;
  --monospace: "Source Code Pro", "Roboto Mono", "Monaco", "Courier New", monospace;
  --sans-serif: system-ui, "BlinkMacSystemFont", -apple-system, "Roboto", "Helvetica Neue", Helvetica, "Arial", sans-serif;
  --serif: "tiempo", "Georgia", "Times New Roman", serif;
  --header: "cheltenham", "Georgia", serif;
}

/* reset.css */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  position: relative;
}

html { box-sizing: border-box; font-size: 62.5%; }
*, *:before, *:after { box-sizing: border-box; }
/*html, body { height: 100%; }*/
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }
a         { color: #2F9EEF; text-decoration: none; }
a:hover   { color: #2F9EEF; text-decoration: underline; }
a:visited { color: #2F9EEF; text-decoration: none; }
p { text-align: justify; }
p:empty { display: none; }
em { font-style: italic; }
img { max-width: 100%; }
li ol,li ul { margin-bottom: 0; }
strong, b { font-weight: bold; }
sub { vertical-align: sub; }
sup { vertical-align: super; }
time { text-align: center; }
tt, code, kbd, samp { font-family: monospace; }
ul { list-style: disc; }
ul,ol { padding-left: 1.4em; }

small, sub, sup {
  font-size: 70%;
  line-height: 0;
  position: relative;
}

/* site specific elements */
body {
  background-color: var(--site-color);
  font: 400 1.6rem/1.5rem var(--serif);
  padding: 16px 12px;
}

.site-header, .page {
  margin: auto;
  max-width: var(--site-width);
}

/* general styles */
/*.page h1, .page h2, .page h3 { -webkit-font-smoothing: antialiased; }*/
h1 {
  font: 4.4rem var(--header);
  letter-spacing: -1.75px;
  text-align: center;
}
h2 { font: 2.8rem var(--header); }
h3 { font: italic 2.2rem var(--header); }
.page p  { font: 1.6rem/26px var(--serif); }

hr {
  border-bottom: 1px solid var(--border-color);
  margin: 40px 0;
}

/* site nav */
.site-nav {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.site-nav a:link,
.site-nav a:visited,
.site-nav a:hover,
.site-nav a:active {
  font: 2.4rem var(--header);
  text-align: center;
  color: #333;
}

.nav li {
  display: inline-block;
  margin-left: 20px;
}

.post-header .meta {
  color: #818181;
  text-align: center;
}

#pubs {
  list-style: outside;
}

#paper {
  margin: 8px 0;
}

/* page element */

.page {
  font: 1.8rem/28px var(--sans-serif);
  padding-top: 8px;
  padding-bottom: 21px;
  overflow: hidden;
}

ul, ol, h1, h2, h3, figure, p, .site-nav {
  margin-bottom: 21px;
}

li ol, li ul, .site-nav ul {
  margin-bottom: 0;
}

.page ul, .page ol {
  color: rgba(0, 0, 0, 0.8);
  font: 1.6rem/28px var(--serif);
}

ul#pubs {
  font-family: 1.6rem/28px var(--sans-serif);
}

.page span.equation-mimic {
  font-style: italic;
}

.page blockquote {
  border-left: 4px solid #b4b4b4;
  font-size: 1.8rem;
  opacity: .7;
  letter-spacing: -0.3px;
  font-style: italic;
  padding-left: 10px;
}

.page blockquote p {
  font-style: italic;
}

/* Archive */
ul#archive {
  list-style: none;
  padding-left: 0;
}

ul#archive li {
  margin-bottom: 20px;
}

ul#archive li span.post-date {
  color: #aaa;
  font-family: var(--monospace);
}

ul#archive li a {
  font: 2.0rem var(--header);
}

/* Figure/Figcaption */
.figimg {
  margin: 48px auto;
  position: relative;
}

.figimg img, 
.figimg figcaption {
  display: block;
  margin: .7rem auto;
  max-width: 100%;
}

.figimg figcaption {
  font: 1.4rem/18px var(--sans-serif);
  color: rgb(146, 149, 152);
  /*text-align: center;*/
}

/* Katex */
.page .katex-display {
  /*max-width: 150%;*/
  /*overflow: scroll;*/
  overflow-x: auto;
  overflow-y: hidden;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

.katex-display::-webkit-scrollbar {
  height: 10px;
  width: 4px;
}

.katex-display::-webkit-scrollbar-corner {
  background: 0;
}

.katex-display::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.26);
}

/* Footnotes */
.footnote { padding: .15em; }
.footnote:before { content: "["; }
.footnote:after  { content: "]"; }

.footnotes li,
.footnotes p {
  color: #888;
  font: 1.4rem/1.3125 var(--sans-serif);
  text-align: left;
}

.footnotes :last-child {
  margin-bottom: 0;
}

/* Syntax highlighter */
code.highlighter-rouge {
  background: #F3F3F3;
  color: #37474f;
  padding: 1px 4px;
  font: 90%/1 var(--monospace);
}

pre, .highlight code {
  font: 1.4rem/20px var(--monospace);
}

pre {
  overflow-x: auto;
  padding: 8px;
}

pre::-webkit-scrollbar {
  height: 10px;
  width: 4px;
}

pre::-webkit-scrollbar-corner {
  background: 0;
}

pre::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .26);
}

/* deadlines */
.conftitle {
  font: 2rem var(--header);
}

.past {
  opacity: 0.5;
}

.deadline, .meta {
  font-size: 13px;
}

.timer {
  font: 2rem;
}

.col-60 {
  float: left;
  width: 60%;
}

.col-40 {
  float: left;
  width: 40%;
}

.confclass {
  clear:both;
  display:block;
}

/* homepage posts */
.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 10pt 0;
}

.post-name {
  margin-right: 10pt;
  display: inline-block;
}
.post-time {
  text-align: right;
}

.highlight pre code { background-color: #F3F3F3 }
.highlight pre { background-color: #F3F3F3 }
.highlight .hll { background-color: #F3F3F3 }
.highlight .c { color: #d81b60 } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #3b78e7 } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #37474f } /* Name */
.highlight .o { color: #37474f } /* Operator */
.highlight .p { color: #37474f } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #c53929 } /* Literal.Number */
.highlight .s { color: #0d904f } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #37474f } /* Name.Builtin */
.highlight .nc { color: #9c27b0 } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #37474f } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #37474f } /* Name.Function */
.highlight .nl { color: #37474f } /* Name.Label */
.highlight .nn { color: #37474f } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #37474f } /* Name.Property */
.highlight .nt { color: #3b78e7 } /* Name.Tag */
.highlight .nv { color: #37474f } /* Name.Variable */
.highlight .ow { color: #3b78e7 } /* Operator.Word */
.highlight .w { color: #37474f } /* Text.Whitespace */
.highlight .mf { color: #c53929 } /* Literal.Number.Float */
.highlight .mh { color: #c53929 } /* Literal.Number.Hex */
.highlight .mi { color: #c53929 } /* Literal.Number.Integer */
.highlight .mo { color: #c53929 } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #c53929 } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #0d904f } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #3b78e7 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #37474f } /* Name.Variable.Class */
.highlight .vg { color: #37474f } /* Name.Variable.Global */
.highlight .vi { color: #37474f } /* Name.Variable.Instance */
.highlight .il { color: #c53929 } /* Literal.Number.Integer.Long */
.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672 } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e } /* Generic.Inserted & Diff Inserted */

/* media queries */
@media (min-width: 728px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 3.0rem; }
  h3 { font-size: 2.6rem; }
  .page p  { font-size: 1.8rem; }
  .page ul, .page ol { font-size: 1.8rem; }
  .page .footnotes p { font-size: 1.4rem; }
}
