---
layout: post
title: Conference Deadlines
deadlines: true
---

  {% for conf in site.data.conferences %}
  <div id="{{conf.id}}" class="confclass">
    <div class="col-60">
      <a class="conftitle" href="{{conf.link}}"><b>{{conf.name}}</b></a>
      <div class="meta">
        {{conf.date}} // <a href="http://maps.google.com/?q={{conf.place}}">{{conf.place}}</a>
      </div>
    </div>
    <div class="col-40">
      <span class="timer"></span>
      <div class="deadline">Deadline:
        <span class="deadline-time"></span>
      </div>
    </div>
  </div>
  {% endfor %}

  <script>
    function $(element) {
      return document.querySelector(element);
    }
    function filldate(confid, deadline) {
      if (deadline == "TBA") {
        $(`#${confid} .timer`).innerHTML = 'TBA';
        $(`#${confid} .deadline-time`).innerHTML = 'TBA';
      } else {
        var diff = dayjs(deadline).diff(dayjs(), 'day')
        $(`#${confid} .timer`).innerHTML = `${diff} days`;
        $(`#${confid} .deadline-time`).innerHTML = dayjs(deadline).format('dddd, MMMM D YYYY');
        // check if date has passed, add 'past' class to it
        if (diff < 0)
          $(`#${confid}`).classList.add('past');
      }
    }
    {% for conf in site.data.conferences %}
    filldate('{{conf.id}}', "{{conf.deadline}}");
    {% endfor %}
  </script>