/*  #Layout
-------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0 none;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection{color: #ccc}
::-moz-selection{color: #ccc}

@font-face {
  font-family: 'meta';
  src: url('meta.otf') format('opentype'),
       url('meta.ttf')  format('truetype');
      /* Modern Browsers (otf) */ /* Safari, Android, iOS (ttf) */
}

html {
  font: 100%/1.5 "meta", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #EEEEEE; /* 1B1B1B */
  color: #222;
}

header {
  background: #EEEEEE; /* 1B1B1B */
  border-bottom: 1px solid #BBBBBB; /* 272727 */
  overflow: hidden;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

footer {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 38rem;
  width: 90%;
}

header .container {
  padding: 0;
}

footer .container {
  padding: 2rem;
}

.column {
  clear: none;
  margin: 0;
  width: 100%;
}

/*  #Navigation
-------------------------------------------------------------- */
.logo-wrap {
  display: block;
  float: left;
  overflow: hidden;
  padding: 0.5rem 0;
  border-bottom: none;
}

.logo {
  background: url("34x26.gif");
  display: block;
  height: 26px;
  width: 34px;
  margin: 0;
}

nav {
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  float: right;
  height: auto;
  width: auto;
}

nav ul {
  margin: 0.5rem 0 0 0;
  margin-top: 0;
  overflow: hidden;
  padding: 0;
}

nav li {
  border-top: 1px solid #eee;
  list-style: none;
  margin-bottom: 0;
  text-align: center;
  border: 0;
  float: left;
  font-size: 0.9rem;
  margin-left: 1.5rem;
}

nav li a {
  color: #222222;
  font-weight: 600;
  font-size: .875em;
  display: block;
  padding: 0.6rem 0 0.4rem 0;
  -moz-transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  text-decoration: none;
  border-bottom: none;
}

nav li a:hover {
  color: #25E;
  text-decoration: none;
}

/*  #Links
-------------------------------------------------------------- */
a {
  border-bottom: 1px dotted #38373d;
  color: #222222;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out
}

a:visited {
    color: #38373d;
}

a:hover {
    color: #25E;
}

/*  #Headers
-------------------------------------------------------------- */
h1, h2, h3, h4 {
  font-family: "meta", "Georgia", sans-serif;
  font-style: normal;
  color: #333;
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.2em;
  margin-bottom: 1.5rem;
}

.article-title {
  margin: 0 0 0.3rem 0;
  text-align: center;
}

.article-date {
  color: #222222;
  display: block;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.3em;
  margin-bottom: 1.1rem;
  font-weight: 400;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.3em;
  margin-bottom: 0.6rem;
}

.section-header {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 0.8rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.3em;
  margin-bottom: 0;
}

h4 a {
  color: #333;
}

h4 a:hover {
  color: #25E;
  text-decoration: none;
}

.date {
  color: #8c9397;
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

.bio {
  color: #8c9397;
}

/*  #Basic Styles
-------------------------------------------------------------- */
p {
  font-style: normal;
  font-size: 26px;
  margin: 0 0 1.5rem 0;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

sup {
  line-height: 0;
  vertical-align: super;
  font-size: smaller;
}

img {
  display: block;
  margin-bottom: 1.5rem;
  width: 100%;
}

ul, ol {
  margin: 0 0 1.5rem 1.5rem;
  padding: 0;
  list-style: disc outside;
}

li {
  margin-bottom: 0.5rem;
}

.clean {
  margin: 0 0 1.5rem 0;
  list-style: none;
 }

.clean li {
  margin-bottom: 1rem;
}

.clean li a {
  border-bottom: none; /* to prevent link underline*/
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 2em auto;
  width: 3rem;
}

blockquote {
  font-style: italic;
  border-left: 2px solid #ccc;
  margin: 0 0 1.5rem 0;
  padding: 0 0 0 1.5rem;
}

/* Elements
-------------------------------------------------------------- */
.note {
  background: #fcf8e3;
  padding: .5rem;
  margin-bottom: 1.5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #faebcc;
}

.note p:before {
  content:"Note: ";
  font-weight: 600;
}

.note p:last-child {
  margin-bottom: 0;
}

.profile-image {
  display: block;
  max-width: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 1.5rem auto;
}

.intro {
  margin: 0 auto;
  max-width: 30em;
  text-align: center; /* justify */
}

.intro p {
  color: #222222;
}

/*  #Clearfix
-------------------------------------------------------------- */
.container:before, .cf:before,
.row-example:before, .row-example:after,
.container:after, .cf:after {
  content: " ";
  display: table;
}

.container:after,
.row-example:after,
.cf:after {
  clear: both;
}

.container,
.row-example,
.cf {
  *zoom: 1;
}

/* Mobile First RWD
-------------------------------------------------------------- */
@media screen and (min-width: 640px) {
  html {
    font-size: 125%;
  }

  .intro {
    padding: 3rem 0;
  }

  header {
    margin-bottom: 2.9rem;
  }

  .column {
    float: left;
    margin-right: 5%;
  }

  .one-third {
    width: 30%;
  }

  .half {
    width: 47.5%;
  }

  .two-third {
    width: 65%;
  }

  .row .column:last-child {
    margin-right: 0;
    clear: right;
  }

  .article-title {
    margin-bottom: 0.3rem;
  }

}

@media screen and (min-width: 1400px) {
  html {
    font-size: 137.5%;
  }
}

@media screen and (max-width: 640px) {
  p {
  font-size: 18px;
}
}
