    <footer class="wrap site__footer" role="contentinfo">
        <div class="grid">
<!--             <section class="small grid__col grid__col--3-of-6 p-author vcard">
                <h4>About</h4>
                    <p>My name is <span class="fn">/*/</span>. I’m a student at /*/ studying /*/.</p>
            </section> -->

      <section class="small grid__col grid__col--3-of-6">
        <h4>Links</h4>
        <!-- <ul> -->
            <!-- <li>View the <a href="/archive/">archives</a></li> -->
            <!-- <li>View the <a href="/styleguide/">styleguide</a></li> -->
            <!-- <li>twitter.com/<a href=""></a></li> -->
            <li>github.com/<a href="portfolio.html">TheAbhiKumar</a></li>
            <!-- <li>linkedin.com/in/<a href=""></a></li> -->
        <!-- </ul> -->
      </section>
        </div>
    </footer>
  
    <div class="footer__copyright wrap small caps isle--v">
        <p>&copy; 2014 Abhishek Kumar, unless otherwise noted.</p>
    </div>
    {% include scripts.html %}
    
</body>
</html>