<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    {% if page.header_title %}
    <title>{{ page.header_title }} &mdash; abkumar</title>
    {% else %}
    <title>{{ page.title }} &mdash; abkumar.me</title>
    {% endif %}
    <meta name="author" content="Abhishek Kumar" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#777">
    
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel='stylesheet' type='text/css' href="/css/style.css" />

    <link rel="canonical" href="https://abkumar.me{{ page.url | replace:'/index.html','/' }}" />
    {% include scripts_math.html %}
  </head>
<body>
  <header class="site-header">
  <nav class="site-nav">
    <a class="site-title" href="/"> {{ site.name }} </a>
    {% include nav.html %}
  </nav>
  </header>
