<table class="image">
<caption align="bottom">{{ include.description }}</caption>
<tr><td><img src="{{ include.url }}" alt="{{ include.description }}"/></td></tr>
</table>


<figure class="alignleft"><picture><source srcset="/assets/2014/05/wedding-pavilion-medium.jpg, /assets/2014/05/wedding-pavilion-medium@2x.jpg 2x" media="(min-width: 640px)" /><source srcset="/assets/2014/05/wedding-pavilion-small.jpg, /assets/2014/05/wedding-pavilion-small@2x.jpg 2x" media="(min-width: 320px)" /><img srcset="/assets/2014/05/wedding-pavilion-small.jpg" /></picture><figcaption><p>This is a left aligned image and caption, set in Franklin Gothic. The image is of Walt Disney World’s Wedding Pavilion.</p>
</figcaption></figure>

<p><img src="{{ include.url }}" alt="{{ include.alt }}" /></p>


<figure class="imgbleed">
    <p>
        <img src="{{ include.url }}" alt="{{ include.alt }}" />
    </p> 
    <figcaption>
        <p>{{ include.caption }}</p>
    </figcaption>
</figure>

<figure class="imgbleed">
        <picture>
            <source 
                srcset="/assets/2013/12/herb-lubalin-large.jpg, /assets/2013/12/herb-lubalin-large@2x.jpg 2x" 
                media="(min-width: 1024px)" />
            <source 
                srcset="/assets/2013/12/herb-lubalin-medium.jpg, /assets/2013/12/herb-lubalin-medium@2x.jpg 2x" 
                media="(min-width: 640px)" />
            <source 
                srcset="/assets/2013/12/herb-lubalin-small.jpg, /assets/2013/12/herb-lubalin-small@2x.jpg 2x" 
                media="(min-width: 320px)" 
            />
            <img 
                srcset="/assets/2013/12/herb-lubalin-small.jpg"
            />
        </picture>
    <figcaption>
    <p>{{ include.caption }}</p>
    </figcaption>
</figure>